<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <style>
        .column1 {
            width: 20%;
        }

        .column2 {
            width: 40%
        }

        .column3 {
            width: 10%
        }

        .column4 {
            width: 10%
        }

        .column5 {
            width: 10%
        }

        .column6 {
            width: 10%
        }

        .b {
            font-family: sans-serif;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>


    <h1 style="font-family: Lato-Bold;text-align:center;color: #4272d7">Kết quả học tập</h1>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Mã môn học</th>
                                    <th class="cell100 column2">Tên môn học</th>
                                    <th class="cell100 column3">Số tín chỉ</th>
                                    <th class="cell100 column4">Điểm hệ 10</th>
                                    <th class="cell100 column5">Điểm chữ</th>
                                    <th class="cell100 column6">Điểm hệ 4</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                {{#each courses}}

                                <tr class="row100 body">
                                    <td class="cell100 column1">{{this.course_ID}}</td>
                                    <td class="cell100 column2">{{this.course_name}}</td>
                                    <td class="cell100 column3">{{this.course_credits}}</td>
                                    <td class="cell100 column4">{{this.mark10}}</td>
                                    <td class="cell100 column5">{{this.letter_ratings}}</td>
                                    <td class="cell100 column6">{{this.mark4}}</td>
                                </tr>

                                {{/each}}

                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="credits gpa" style="font-family: Lato-Bold;text-align:center;color: #ff0000">
                    <p>Tổng số tín chỉ: {{creditsCount}}</p>
                    <p>GPA: {{toFixed GPA 2}}</p>
                </div>
            </div>
        </div>


    </div>


</body>

</html>