<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <h1 style="text-align:center">Các môn đang theo học</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mã môn học</th>
                <th scope="col">Tên môn học</th>
                <th scope="col">Số tín chỉ</th>
                <th scope="col">Giảng viên</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Địa điểm</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            {{#unless this.finished}}
            <tr>
                <th scope="row" id="class-code">{{this.course.course_ID}}</th>
                <td id="class-name">{{this.course.course_name}}</td>
                <td id="credits">{{this.course.course_credits}}</td>
                <td id="teacher">{{this.course.teacher_name}}</td>
                <td id="datetime">{{this.course.date_time}}</td>
                <td id="room">{{this.course.room}}</td>

            </tr>
            {{/unless}}
            {{/each}}


            <!--Thêm các dòng vào từ database-->
            <!--Kết thúc bảng-->
        </tbody>
    </table>
</body>

</html>