{{!-- <form method="POST" action="/store-student"> --}}
<form method="POST" action="/{{student._id}}?_method=PUT">
    <div class="mb-3">
        <label for="studentID" >Mã sinh viên</label>
        <input type="text" class="form-control" value="{{student.studentID}}" id="studentID" name="studentID">
    </div> 
    
    <div class="mb-3">
        <label for="course_class" >Lớp khóa học</label>
        <input type="text" class="form-control" value="{{student.course_class}}" id="course_class" name="course_class">
    </div>
    <div class="mb-3">
        <label for="date_of_birth" >Ngày sinh</label>
        <input type="text" class="form-control" value="{{student.date_of_birth}}" id="date_of_birth" name="date_of_birth">
    </div>
    <div class="mb-3">
        <label for="sex" >Giới tính</label>
        <input type="text" class="form-control" value="{{student.sex}}" id="sex" name="sex">
    </div>
    <div class="mb-3">
        <label for="address" >Địa chỉ</label>
        <input type="text" class="form-control" value="{{student.address}}" id="address" name="address">
    </div>
    <div class="mb-3">
        <label for="email" >Email</label>
        <input type="text" class="form-control" value="{{student.email}}" id="email" name="email">
    </div>
    <div class="mb-3">
        <label for="phone_number" >Số điện thoại</label>
        <input type="text" class="form-control" value="{{student.phone_number}}" id="phone_number" name="phone_number">
    </div>
    <div class="mb-3">
        <label for="image" >Ảnh</label>
        <input type="text" class="form-control" value="{{student.image}}" id="image" name="image">
    </div>
    <div class="mb-3">
        <label for="name" >Tên sinh viên</label>
        <input type="text" class="form-control" value="{{student.name}}" id="name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>