<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <style>
        .column1 {
            width: 20%;
        }

        .column2 {
            width: 20%
        }

        .column3 {
            width: 25%
        }

        .column4 {
            width: 2%
        }

        .column5 {
            width: 2%
        }

        .column6 {
            width: 2%
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>

<body>

    <table>
        <thead>
            <tr class="row100 head">
                <th class="cell100 column1">Mã sinh viên</th>
                <th class="cell100 column2">Họ và tên</th>
                <th class="cell100 column3">Lớp</th>
                <th class="cell100 column4"></th>
                <th class="cell100 column5"></th>
                <th class="cell100 column6">
                    <a id="admin-add-student" onclick="showAddStudentForm()" href="#">
                        <i class='bx bxs-message-square-add' style="color:rgb(255, 255, 255); font-size: 30px;"> </i>
                    </a>

                </th>
            </tr>
        </thead>
    </table>
    </div>
    <div class="table100-body js-pscroll">
        <table>
            <tbody>
                {{#each students}}
                <tr class="row100 body">
                    <td class="cell100 column1">{{this.studentID}}</td>
                    <td class="cell100 column2">{{this.name}}</td>
                    <td class="cell100 column3">{{this.course_class}}</td>
                    <td class="cell100 column4">
                        <a class="btn btn-link" data-bs-toggle="view" data-id="{{this._id}}">
                            <ion-icon name="eye"></ion-icon>
                        </a>

                    </td>
                    <td class="cell100 column5">
                        <a class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                            data-bs-target="#deleteModal"><ion-icon name="trash"></ion-icon></a>
                    </td>

                </tr>

                {{/each}}
            </tbody>
        </table>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sinh viên</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <a href="#"><button id="btn-delete" type="button" class="btn btn-danger">Xóa</button></a>

                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>