<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My UET</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/timetable.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <header>
        {{>header}}
    </header>

    <div class="container">
        <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
            <div class="subtitle alt-font"><span class="text-primary">#04</span><span class="title">Timetable</span>
            </div>
            <h2 class="display-18 display-md-16 display-lg-14 mb-0">Committed to fabulous and great <span
                    class="text-primary">#Timetable</span></h2>
        </div>
        <div class="row overflow-auto">
            <div class="col-md-12">
                <div class="schedule-table">
                    <table class="table bg-white ">
                        <thead>
                            <tr>
                                <th>Routine</th>
                                <th>7h-7h50</th>
                                <th>8h-8h50</th>
                                <th>9h-9h50</th>
                                <th>10h-10h50</th>
                                <th>11h-11h50</th>
                                <th>12h-12h50</th>
                                <th>13h-13h50</th>
                                <th>14h-14h50</th>
                                <th>15h-15h50</th>
                                <th>16h-16h50</th>
                                <th>17h-17h50</th>
                                <th class="last">18h-18h50</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="day">Sunday</td>
                                <td class="active">
                                    {{!--class active de chi cho co hoat dong--}}
                                    
                                    {{!-- hien thi khi chua hover chuot
                                    <h4>{{course_name}}</h4> 
                                    <p>{{room}}</p>

                                    hien thi khi hover chuot
                                    <div class="hover">
                                        <h4>{{course_name}}</h4> 
                                        <p>{{room}}</p>
                                        <span>{{teacher_name}}</span>
                                    </div> --}}
                                    
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td class="active">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="day">Monday</td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td class="active"></td>
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                            </tr>
                            <tr>
                                <td class="day">Tuesday</td>
                                <td class="active">
                                </td>
                                <td></td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td class="active">
                                </td>
                            </tr>
                            <tr>
                                <td class="day">Wednesday</td>
                                <td class="active">
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                            </tr>
                            <tr>
                                <td class="day">Thursday</td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="day">Friday</td>
                                <td class="active">
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td></td>
                                <td class="active">
                                </td>
                            </tr>
                            <tr>
                                <td class="day">Satrday</td>
                                <td></td>
                                <td></td>
                                <td class="active">
                                </td>
                                <td class="active">
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script>

    </script>
    <script src="ajax.googleapis.com/ajax/libs/jquery/2.1.3/…"></script>
    <script src="maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/…"></script>
</body>

</html>